.main1 {
  height: 100vh;
  position: relative;
  background: url(./img/img1.png) center center no-repeat;
  background-size: cover;
}

.main1 .video-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main1 .text {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 110px;
  padding-bottom: 88px;
  color: #fff;
}

.main1 .text .text1 {
  font-size: 52px;
  font-weight: bold;
  padding-bottom: 16px;
}

.main1 .text .text2 {
  font-size: 24px;
}

.main2 {
  padding-top: 138px;
  display: flex;
  padding-bottom: 180px;
}

.main2 .left {
  padding-left: 112px;
  padding-right: 100px;
  padding-top: 42px;
}

.main2 .left .title {
  font-family: PingFangSC-Semibold;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  color: #10193A;
  padding-bottom: 4px;
}

.main2 .left .sub-title {
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #00669F;
  line-height: 32px;
  padding-bottom: 42px;
}

.main2 .left .content {
  width: 310px;
  margin-bottom: 30px;
}

.main2 .left .content .item {
  padding-bottom: 40px;
  font-family: PingFangSC-Light;
  font-size: 14px;
  color: #10193A;
  text-align: justify;
  line-height: 24px;
}

.main2 .btn {
  border: 1px solid #10193A;
  line-height: 38px;
  color: #10193A;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px;
}

.main2 .btn:hover {
  background-color: #10193A;
  color: #fff;
}

.main2 .right {
  flex: 1;
  /* background: url(./img/img2.png) center center no-repeat;
  background-size: cover; */
}

.main3 {
  padding-bottom: 180px;
  display: flex;
}

.main3 .right {
  padding-top: 42px;
  padding-left: 100px;
  padding-right: 112px;
  padding-bottom: 120px;
}

.main3 .right .title {
  font-family: PingFangSC-Semibold;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  color: #10193A;
  padding-bottom: 4px;
}

.main3 .right .sub-title {
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #00669F;
  line-height: 32px;
  padding-bottom: 42px;
}

.main3 .right .content {
  width: 310px;
  margin-bottom: 30px;
}

.main3 .right .content .item {
  padding-bottom: 40px;
  font-family: PingFangSC-Light;
  font-size: 14px;
  color: #10193A;
  text-align: justify;
  line-height: 24px;
}

.main3 .right .btn {
  border: 1px solid #10193A;
  line-height: 38px;
  color: #10193A;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px;
}

.main3 .btn:hover {
  background-color: #10193A;
  color: #fff;
}

.main3 .left {
  flex: 1;
  background: url(./img/img3.png) center center no-repeat;
  background-size: cover;
}

.main4 {
  /* padding-top: 138px; */
  display: flex;
  padding-bottom: 180px;
}

.main4 .left {
  padding-left: 112px;
  padding-right: 100px;
  padding-top: 42px;
  padding-bottom: 84px;
}

.main4 .left .title {
  font-family: PingFangSC-Semibold;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  color: #10193A;
  padding-bottom: 4px;
}

.main4 .left .sub-title {
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #00669F;
  line-height: 32px;
  padding-bottom: 42px;
}

.main4 .left .content {
  width: 310px;
  margin-bottom: 30px;
}

.main4 .left .content .item {
  padding-bottom: 40px;
  font-family: PingFangSC-Light;
  font-size: 14px;
  color: #10193A;
  text-align: justify;
  line-height: 24px;
}

.main4 .btn {
  border: 1px solid #10193A;
  line-height: 38px;
  color: #10193A;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px;
}

.main4 .btn:hover {
  background-color: #10193A;
  color: #fff;
}

.main4 .right {
  flex: 1;
  background: url(./img/img4.png) center center no-repeat;
  background-size: cover;
}

.main5 .bg1, .main5 .bg2{
    height: 350px;
}
.main5 .bg1 {
  background-color: #e7e8eb;
}

.main5 .bg2 {
  background-color: #fff;
}

.main5 .content {
  position: absolute;
  top: 86px;
  margin: 0 auto;
  width: 910px;
  left: 50%;
  margin-left: -455px;
  display: flex;
  box-shadow: 0 50px 64px 0 #DADADA;
}

.main5 .content .left {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 20px;
  background-color: #fff;
  flex: 1;
}

.main5 .content .left .title {
  font-family: PingFangSC-Semibold;
  font-size: 32px;
  color: #10193A;
  text-align: center;
  line-height: 40px;
  padding-bottom: 50px;
}

.main5 .content .left .tabs {
  display: flex;
  justify-content: space-between;
  width: 520px;
  margin:  0 auto;
}

.main5 .content .left .tabs .tab{
  width: 158px;
}

.main5 .content .left .tabs .tab .name {
  color: #10193A;
  padding-bottom: 16px;
}

.main5 .content .left .tabs .tab .desc {
  font-family: PingFangSC-Thin;
  font-size: 12px;
  color: #10193A;
  text-align: center;
  line-height: 16px;
}


.main5 .content .left .tabs .tab img {
  width: 100%;
  display: block;
  margin-bottom: 24px;
}

.main5 .content .left .bottom-text {
  font-family: PingFangSC-Thin;
  font-size: 10px;
  color: #10193A;
  text-align: center;
  line-height: 12px;
  padding-top: 50px;
}

.main5 .content .right {
  display: block;
  width: 333px;
}